<nav class="pagination" role="navigation" aria-label="pagination">
    {% if paginator.previous_page %}
    <a class="page-link" href="{{ paginator.previous_page_path }}">&larr;</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="page-link is-active">{{ page }}</span>
      {% elsif page == 1 %}
        <a class="page-link" href="/">{{ page }}</a>
      {% else %}
        <a class="page-link" href="/page{{ page }}/">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="page-link" href="{{ paginator.next_page_path }}">&rarr;</a>
    {% endif %}
</nav>